extends ../base
include ../mixins/created-ago
include ../mixins/avatar

block content 
    div.video
        div#videoContainer(data-id=video._id)
            video(src="/" + video.fileUrl).videoMedia
            div#videoControls.videoControls
                div.videoControls__timeline
                    input(type="range", step=1 value=0, min=0)#timeline

                div.videoControls__buttons
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                    div.videoControls__volume-time
                        div.videoControls__volume
                            span#mute
                                i.fas.fa-volume-up
                            input(type="range", step=0.1 value=0.5, min=0, max=1)#volume
                        div.videoControls__time 
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div
                    div.videoControls__fullscreen
                        span#fullscreen
                            i.fas.fa-expand

            div#videoHud
                i.fas.fa-play

    div.video__data
        div.video__data__info
            p.video__title=video.title
            div.video__meta
                small.video__views #{video.meta.views} #{video.meta.views == 1 ? "view" : "views"}  •  
                small.video__createdAt=new Date(video.createdAt).toLocaleDateString("Canada")
        div.video__btns
            if String(video.owner.id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`)
                    i.fas.fa-pen
                    span EDIT
                a(href=`${video.id}/delete`)
                    i.fas.fa-trash-alt
                    span DELETE
            else
                a(href=`${video.id}/like`)
                    i.fas.fa-heart
                    span 0

            if loggedIn && String(video.owner.id) !== String(loggedInUser._id)
                div.subs-button
                    if subbedFind
                        button.subsBtn.subbed Subscribed
                    else 
                        button.subsBtn Subscribe

    div.video__subdata#videoOwnerData(data-id=video.owner._id)
        div.video__owner__avatar
            +avatar(video.owner, "medium")
        div.video__info
            div.video__info__owner
                div.video__info__owner__name
                    a(href=`/users/${video.owner.id}`)
                        span=video.owner.username
                div.video__info__owner__subs#subsCount
                    span.subsCount=`${video.owner.subs}`
                    span=` ${video.owner.subs == 1 ? "subscriber": "subscribers" }`
            div.video__description
                span=video.description


    div.video__commentCount
        //- span=video.commentCount
        span 0 Comments

    if loggedIn
        div.video__add-comments
            div.video__add-comments__avatar
                +avatar(loggedInUser, "medium")
            form.video__comment-form#commentForm
                textarea#commentTextArea(cols="30", rows="10", placeholder="Write a nice comment...")
                button COMMENT
    div.video__comments
        ul 
            each comment in video.comments
                li.video__comment(data-id=comment.id)
                    div.video__comment__container
                        div.video__comment__avatar
                            +avatar(comment.owner, "medium")
                        div.video__comment__info
                            div.video__comment__info__owner
                                div.video__comment__info__owner__username=comment.owner.username
                                +createdAgo(comment.createdAt)
                            div.video__comment__info__description
                                span=comment.text
                        div.video__comment__buttons
                            if String(comment.owner._id) === String(loggedInUser._id)
                                button.video__comment__buttons__edit
                                    i.fas.fa-pen
                                button.video__comment__buttons__delete 
                                    i.fas.fa-trash-alt
                            else 
                                button.video__comment__buttons__like
                                    i.fas.fa-heart
                                    span 0
                    
        

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
        script(src="/static/js/likeSubs.js")