extends ../base
include ../mixins/created-ago
include ../mixins/avatar

block content 
    div.video
        div#videoContainer(data-id=video._id)
            if video.fileUrl.includes("http")
                video(src=video.fileUrl crossorigin).videoMedia
            else
                video(src= "/" + video.fileUrl crossorigin).videoMedia
            div#videoControls.videoControls
                div.videoControls__timeline
                    input(type="range", step=1 value=0, min=0)#timeline

                div.videoControls__buttons
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                    div.videoControls__volume-time
                        div.videoControls__volume
                            span#mute
                                i.fas.fa-volume-up
                            input(type="range", step=0.1 value=0.5, min=0, max=1)#volume
                        div.videoControls__time 
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div
                    div.videoControls__fullscreen
                        span#fullscreen
                            i.fas.fa-expand

            div#videoHud
                i.fas.fa-play

    div.video__data
        div.video__data__info
            p.video__title=video.title
            div.video__meta.grayFont
                small.video__views #{video.meta.views} #{video.meta.views == 1 ? "view" : "views"}  •  
                small.video__createdAt=new Date(video.createdAt).toLocaleDateString("Canada")
        div.video__btns
            if likedVideoFind
                button.video__btns__like.likeVideoBtn.liked.likeButton.tooltip(tooltip="Liked!")
                    i.fas.fa-heart.likeVideoIcon
                    span.likeVideoCount=video.meta.like
            else 
                button.video__btns__like.likeVideoBtn.likeButton.tooltip(tooltip="Like!")
                    i.fas.fa-heart.likeVideoIcon
                    span.likeVideoCount=video.meta.like
            
            if String(video.owner.id) === String(loggedInUser._id)

                a.video__btns__edit.tooltip(href=`${video.id}/edit`, tooltip="Edit")
                    i.fas.fa-pen
                button.video__btns__delete.tooltip(tooltip="Delete")
                    i.fas.fa-trash-alt


            if String(video.owner.id) !== String(loggedInUser._id)
                div.subs-button
                    if subbedFind
                        button.subsBtn.subbed Subscribed
                    else 
                        button.subsBtn Subscribe

    div.video__subdata#videoOwnerData(data-id=video.owner._id)
        div.video__owner__avatar
            +avatar(video.owner, "medium")
        div.video__info
            div.video__info__owner
                div.video__info__owner__name
                    a(href=`/users/${video.owner.id}`)
                        span=video.owner.name
                div.video__info__owner__subs.grayFont#subsCount
                    span.subsCount=`${video.owner.subs}`
                    span.subsCountUnit=`${video.owner.subs == 1 ? " Subscriber": " Subscribers" }`
            div.video__description
                span=video.description
            div.video__hashtags
                each hashtag in video.hashtags
                    a(href=`/search?type=Hashtag&keyword=${hashtag.substring(1)}`)
                        span.video__hashtag=hashtag


    div.video__commentCount
        span.commentsCount=video.comments.length
        span.commentsCountUnit=`${video.comments.length === 1 ? " Comment": " Comments" }`

    if loggedIn
        div.video__add-comments
            div.video__add-comments__avatar
                +avatar(loggedInUser, "medium")
            form.video__comment-form#commentForm
                textarea#commentTextArea(cols="30", rows="10", placeholder="Write a nice comment...")
                button COMMENT
    if video.comments.length != 0
        div.video__comment__filters.filter
            span Sort by
            if sort === "createdAt"
                a(href=`${video._id}?sort=createdAt`).filter--selected Most Recent
            else
                a(href=`${video._id}?sort=createdAt`) Most Recent
            if sort === "like"
                a(href=`${video._id}?sort=like`).filter--selected Most Likes
            else 
                a(href=`${video._id}?sort=like`) Most Likes
            if loggedIn
                if sort === "mine"
                    a(href=`${video._id}?sort=mine`).filter--selected My Comments
                else 
                    a(href=`${video._id}?sort=mine`) My Comments


    div.video__comments
        ul 
            each comment in comments
                li.video__comment(data-id=comment.id)
                    div.video__comment__container
                        div.video__comment__avatar
                            +avatar(comment.owner, "medium")
                        div.video__comment__info
                            div.video__comment__info__owner
                                div.video__comment__info__owner__username=comment.owner.name
                                +createdAgo(comment.createdAt)
                                span.video__comment__info__edited=`${comment.edited? "(Edited)" : ""}`
                            div.video__comment__info__description
                                span.video__comment__info__description__span=comment.text
                                
                        div.video__comment__buttons
                            if loggedIn && currentUser.likedComments.find((likedComment) => likedComment._id.toString() === comment.id)
                                button.video__comment__buttons__like.liked.likeButton.tooltip(tooltip="Liked!")
                                    i.fas.fa-heart.likeCommentIcon
                                    span.likeCommentCount=comment.like
                            else
                                button.video__comment__buttons__like.likeButton.tooltip(tooltip="Like!")
                                    i.fas.fa-heart.likeCommentIcon
                                    span.likeCommentCount=comment.like
                            if String(comment.owner._id) === String(loggedInUser._id)
                                button.video__comment__buttons__edit.tooltip(tooltip="Edit")
                                    i.fas.fa-pen
                                button.video__comment__buttons__delete.tooltip(tooltip="Delete")
                                    i.fas.fa-trash-alt

                    
        

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")
    script(src="/static/js/likeSubs.js")