extends ../base

block content 
    div.video
        div#videoContainer(data-id=video._id)
            video(src="/" + video.fileUrl).videoMedia
            div#videoControls.videoControls
                div.videoControls__timeline
                    input(type="range", step=1 value=0, min=0)#timeline

                div.videoControls__buttons
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                    div.videoControls__volume-time
                        div.videoControls__volume
                            span#mute
                                i.fas.fa-volume-up
                            input(type="range", step=0.1 value=0.5, min=0, max=1)#volume
                        div.videoControls__time 
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div
                    div.videoControls__fullscreen
                        span#fullscreen
                            i.fas.fa-expand

            div#videoHud
                i.fas.fa-play

    div.video__data
        p.video__title=video.description
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner.id}`) #{video.owner.name}
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("Canada")
        if String(video.owner.id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            a(href=`${video.id}/delete`) Delete Video &rarr;

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea#commentTextArea(cols="30", rows="10", placeholder="Write a nice comment...")
                button Add Comment
    div.video__comments
        ul 
            each comment in video.comments
                li.video__comment(data-id=comment.id)
                    i.fas.fa-comment 
                    span #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id)
                        button.video__comment__delete 
                            i.fas.fa-trash-alt
                    
        

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
