mixin avatar(user, size)

    
    a(href=`/users/${user._id}`)
        case size
            when "big"
                if !user.avatarUrl
                    div.avatar.avatar--big.avatar--missing
                        span=user.username.slice(0,1).toUpperCase()
                else if isHeroku || user.avatarUrl.includes(".com")
                    img(src=user.avatarUrl crossorigin="anonymous").avatar.avatar--big
                else
                    img(src="/" + user.avatarUrl crossorigin="anonymous").avatar.avatar--big
            when "medium"
                if !user.avatarUrl
                    div.avatar.avatar--medium.avatar--missing
                        span=user.username.slice(0,1).toUpperCase()
                else if isHeroku || user.avatarUrl.includes(".com")
                    img(src=user.avatarUrl crossorigin="anonymous").avatar.avatar--medium
                else
                    img(src="/" + user.avatarUrl crossorigin="anonymous").avatar.avatar--medium
            when "small"
                if !user.avatarUrl
                    div.avatar.avatar--small.avatar--missing
                        span=user.username.slice(0,1).toUpperCase()
                else if isHeroku || user.avatarUrl.includes(".com")
                    img(src=user.avatarUrl crossorigin="anonymous").avatar.avatar--small
                else
                    img(src="/" + user.avatarUrl crossorigin="anonymous").avatar.avatar--small