include ./created-ago
include ./avatar

mixin video(video)
    div.video-mixin-container
        a(href=`/videos/${video._id}`).video-mixin-anchor
            img.video-mixin__thumb(src=video.thumbUrl crossorigin)
        div.video-mixin__data
            div.video-mixin__avatar
                +avatar(video.owner, "medium")
            div.video-mixin__info
                a(href=`/videos/${video._id}`)
                    span.video-mixin__title.titleFont=video.title
                
                div.video-mixin__meta.grayFont
                    a(href=`/users/${video.owner.id}`)
                        div #{video.owner.name||user.name}
                    span #{video.meta.views} #{video.meta.views == 1 ? "view" : "views"}    •  
                    +createdAgo(video.createdAt)
                    
