extends ../base
include ../mixins/video
include ../mixins/avatar
include ../mixins/created-ago

block content 
    div.profile
        div#userProfileData.profile__data(data-id=user.id)
            +avatar(user, "big")
            div.profile__data__info
                div.profile__date__info__username
                    span=user.name
                    if loggedIn && String(user.id) === String(loggedInUser._id)
                        a.profile__info__edit(href="/users/edit", tooltip="Edit Profile").tooltip
                            i.fas.fa-pen
                div.profile__data__subs
                    span.subsCount=`${user.subs}`
                    span.subsCountUnit=` ${user.subs == 1 ? "Subscriber": "Subscribers" }`
                if loggedIn && String(user.id) !== String(loggedInUser._id)
                    div.subs-button
                        if subbedFind
                            button.subsBtn.subbed Subscribed
                        else 
                            button.subsBtn Subscribe
        div.profile__user-videos
            h2 #{user.name}'s Videos
            div.video-grid
                each video in user.videos 
                    +video(video)
                else 
                    span.empty__message No videos found.

        div.profile__user-comments
            h2 #{user.name}'s Recent Comments
            - let cnt = 0;
            each comment in user.comments
                div.profile__user-comments__container
                    a(href=`/videos/${comment.video._id}`)
                        if isHeroku
                            img.profile__user-comments__thumbnail(src=`${comment.video.thumbUrl}` crossorigin)
                        else
                            img.profile__user-comments__thumbnail(src=`/${comment.video.thumbUrl}` crossorigin)
                    div.profile__user-comments__info
                        div.profile__user-comments__info__title.titleFont=comment.video.title
                        div.profile__user-comments__info__createdAt
                            +createdAgo(comment.createdAt)
                        div.profile__user-comments__info__text
                            span=`"${comment.text}"`
                - cnt = cnt + 1;
                - if (cnt == 10) break

            else 
                span.empty__message No comments found.

block scripts 
    if loggedIn
        script(src="/static/js/likeSubs.js")